<!--
  Generated template for the CalorieCounterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar light>
    <ion-title>
      <img class="nav__logo" width="45px" height="45px" src="./assets/imgs/logo.png" />
      <span class="nav__title custom-title custom-title--mealPlans">Calorie <br>Counter</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngIf="shouldShowHint == true">
        <ion-card-content>
          <div class="card__body text">Track what you eat with our new calorie counter tool.<br><br>
            1. Start by clicking the Add to log button<br>
            2. Search for items in the Search window<br>
            3. Scroll and click your food<br>
            4. Fill in Measure type, Quantity, and Meal (Breakfast, Lunch, Dinner)<br>
            5. Click Add to include it in your daily list<br><br>
            
            Continue to keep track of foods through the day. 
            Click SAVE to email yourself a daily report </div>
        </ion-card-content>
      </ion-card>
      <div text-center *ngIf="shouldShowHint == true">
          <button ion-button color="secondary" (click)="hideInstructions()">
            BEGIN
          </button></div>
  <div style="display: flex; justify-content: space-between" *ngIf="shouldShowHint == false">
    <button ion-button color="secondary" (click)="onSave()">
      Save
    </button>
    <button ion-button color="primary" (click)="onAdd()">
      Add to log
    </button>
  </div>
  <div class="box" style="margin-top: 25px;" *ngFor="let foodGroup of foodGroups">
    <div class="box-item-header">
      <div class="box-item-header-name">
        {{foodGroup.name}}
      </div>
      <div class="box-item-header-action">
        <a (click)="clearGroup(foodGroup.id)">Clear</a>
      </div>

    </div>
    <div class="box-content">
      <div class="box-item" *ngFor="let food of foodGroup.foodList">
        <div class="box-product">
          <div class="box-product-title">{{food.name}}</div>
          <div class="box-product-quantity">{{food.quantity*food.measure.qty}} {{food.measure.label}}</div>
        </div>
        <div class="box-item-value">{{food.calories}}</div>
      </div>
    </div>

    <div class="box-item-footer">
      <div class="box-item-value">{{getGroupTotalCalories(foodGroup.foodList)}}</div>
    </div>
  </div>
  
  <div style="display: flex;justify-content: space-between; align-items: center; margin: 25px 0;font-size: 16px;" *ngIf="getTotalCalories()">
    <button ion-button color="danger" (click)="onClear()" *ngIf="foodGroups.length">
      Clear all
    </button>
    <div>Total: {{getTotalCalories()}} kcal</div>
  </div>

</ion-content>
