<!--
  Generated template for the CalorieCounterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar light>
    <ion-title>
      <img class="nav__logo" width="45px" height="45px" src="./assets/imgs/logo.png" />
      <span class="nav__title custom-title custom-title--mealPlans">Calorie <br> Counter</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button color="secondary" (click)="onAdd()">
    Add to log
  </button>
  <button ion-button color="secondary" (click)="onClear()">
    Clear log
  </button>

  <div class="box" style="margin-top: 25px;" *ngIf="totalCalories">
    <div class="box-item-header">group name</div>
    <div class="box-content">
      <div class="box-item" *ngFor="let food of foodList">
        <div class="box-product">
          <div class="box-product-title">{{food.name}}</div>
          <div class="box-product-quantity">{{food.quantity*food.measure.qty}} {{food.measure.label}}</div>
        </div>
        <div class="box-item-value">{{food.calories}}</div>
      </div>
    </div>
    <div class="box-item-footer">
      <div class="box-item-value">{{totalCalories}}</div>
    </div>
  </div>
</ion-content>
