page-inner-video {
    .innerPage__img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .footer__toolbar .toolbar-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        max-width: 65%;
        margin: auto;
        .icon {
            font-size: 2.5em;
        }
    }
    .mealPlans__content .card__body  p {
        text-align: left;
    }
}
