<ion-header>
  <ion-navbar light>
    <ion-title>
        <img class="nav__logo" width="45px" height="45px" src="../assets/imgs/logo.png" />
        <span class="nav__title">CENTER FOR<br> NUTRITION<br> AND ATHLETICS</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- <head-toolbar title="CENTER FOR NUTRITION AND ATHLETICS"></head-toolbar> -->
<ion-content >
    <div class="home-hero">
        <div class="hero-logo">
          <img src="./assets/imgs/logo.png" alt="logo" />
        </div>
        <div class="hero-title text">
          <h2>Center for Nutrition and Athletics</h2>
        </div>
        <p class="hero-footer__text text">
          Where nutrition and Athletics Meet
        </p>
    </div>
    <!-- <ion-img width="100%" height="100%" src="../../assets/imgs/mainbg.png"></ion-img> -->
    <div class="category__wrapper">
      <h3 class="category__title">Resources</h3>        
      <div class="category__item" *ngFor="let item of resourcesList$ | async | slice:0:3" (click)="handleClick($event, {card: item, pageTitle: 'Resources'})">
        <div class="img__container"><img class="item__img" width="100%" height="100px"  [src]="item.thumbnailUrl" /></div>
        <div class="item__header">
                <div class="card-title">{{item.title}}</div>
                <div class="card-subtitle">{{item.id * 100000 | date:'dd/MM/yyyy'}}</div>
        </div>
      </div>
    </div>
    <div class="category__wrapper">
      <h3 class="category__title">Recipes</h3>        
      <div class="category__item" *ngFor="let item of recipesList$ | async | slice:0:3" (click)="handleClick($event, {card: item, pageTitle: 'Recipes'})">
        <div class="img__container"><img class="item__img" width="100%" height="100px" [src]="item.thumbnailUrl" /></div>
        <div class="item__header">
                <div class="card-title">{{item.title}}</div>
                <div class="card-subtitle">{{item.id * 100000 | date:'dd/MM/yyyy'}}</div>
        </div>
      </div>
    </div>
    <div class="category__wrapper">
      <h3 class="category__title">Videos</h3>        
      <div class="category__item" *ngFor="let item of videosList$ | async | slice:0:3" (click)="handleClick($event, {card: item, pageTitle: 'Videos'})">
        <div class="img__container"><img class="item__img" width="100%" height="100px" [src]="item.thumbnailUrl" /></div>
        <div class="item__header">
                <div class="card-title">{{item.title}}</div>
                <div class="card-subtitle">{{item.id * 100000 | date:'dd/MM/yyyy'}}</div>
        </div>
      </div>
    </div>
</ion-content>
