// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.text {
    font-family: 'CenturyGothic';
    color: #136735;
}
.hero-background {
    margin-bottom: -5px;
}

.arrow-back--custom {
    display: inline-block;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    background-image: url('../assets/icon/Icons/BackButton.png');        
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text {
    font-family: 'CenturyGothic';
}

.toolbar-ios ion-title {
    padding: 0 80px 1px;
}

.category__wrapper {
    color: #136734;
    background-color: #D9EBF2;
    .category__title {
        margin: 0;
        font-size: 2.25rem !important;
        padding: 2rem 0;
        text-align: center;
        padding: 0;
        line-height: 4.5rem;
        border-bottom: 2px solid #136735;
        font-weight: 400;
    }
    .category__item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 0 5px;
        background-color: #ffffff;
        margin: 0 5px 5px;        
        padding: 6px;
        &:last-child {
            margin-bottom: 0;
        }
        .img__container {
            width: 42%;
            min-width: 130px;
        }
        .item__header {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            width: 53%;
        }
        .card-title {
            font-size: 1.75rem;
            line-height: 2rem;
        }
        .card-subtitle {
            font-size: 1.5rem;
            color: #7bbd71;
            font-weight: 400;
            margin-top: auto;
        }
        .item__img {
            img {
                height: 100%;
            }
        }
    }
}

.toolbar-title {
    text-align: center;
}

.nav__title {
    font-family: 'CenturyGothic';
    font-size: 1.5rem;
    line-height: 1.3rem;
    font-weight: 400;
    max-width: 150px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    color: #136734;
    padding-top: .5rem;
    text-transform: uppercase;
}