<!--
  Generated template for the ResourcesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <head-toolbar customClass="custom-title" title="Resources"></head-toolbar> -->
<ion-header>
  <ion-navbar light>
    <ion-title>
        <img class="nav__logo" width="45px" height="45px" src="./assets/imgs/logo.png" />
        <span class="nav__title custom-title">Resources</span>
    </ion-title>
  </ion-navbar>
  <!--Segment buttons-->
  <ion-segment [(ngModel)]="categories" color="secondary" fixed>
    <ion-segment-button isActive value="all" (ionSelect)="selectedAll()">
      All
    </ion-segment-button>
    <ion-segment-button value="Reference" (ionSelect)="selectedReference()">
      Reference
    </ion-segment-button>
    <ion-segment-button value="Education" (ionSelect)="selectedEducation()">
      Education
    </ion-segment-button>
    <ion-segment-button value="Infographics" (ionSelect)="selectedInfographics()">
      Infographics
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-spinner class="resource-spinner" *ngIf="showSpinner" name="crescent"></ion-spinner> 

  <div class="card__wrapper">
    <recipe-card *ngFor="let card of postsList$" [title]="card.title" [imgUrl]="card.thumbnailUrl"  (click)="handleClick($event, {card: card, pageTitle: 'Resources'})" ></recipe-card>   
  </div>
      
  <!--Infinity scroll list-->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> 
</ion-content>
