page-experts-qa {
    .mealPlans__content .card__body p {
        text-align: left;
    }
    .qa__form {
        * {
            font-family: 'CenturyGothic';
        }
        .form__subtext {
            color: #7bbd71;
            font-size: 1rem;
        }
        .label {
            color: #136735;
            font-size: 1.4rem;
            font-weight: 700;
            margin-bottom: .3rem;
        }
        textarea {
            min-height: 11rem;
        }
        .text-input {
            margin: .4rem;
            color: #136735;
        }
        ion-textarea,
        ion-input {
            border: 1px solid #7bbd71;
        }
        .button-inner {
            text-transform: none;
            font-size: 1.4rem;
            letter-spacing: 1.5px;        
        }
        .button {
            color: #136735;
            font-weight: 700;
            max-width: 80%;
            margin: 1.5rem auto 0;
        }
    }
}
