page-meet-the-experts {
    .img-wrapper {
        // max-height: 9rem;
        // overflow: hidden;
    }
    .experts__card {
        width: 50%;
        .img-wrapper {
            background-size: cover;
            height: 15rem;
        }
        img {
            max-height: 15rem;
            height: auto!important;
        }
        .card-content {
            padding: 8px 14px;
        }
        ion-card-title {
            font-size: 1.8rem;
            padding: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-height: 4rem;
            overflow: hidden;
            color: #136735;
            font-family: 'CenturyGothic';
        }
    }
}
