page-menu {
    .menu__wrapper {
        height: 100%;
        background-color: #D9EBF2;
    }
    .category__wrapper .category__title {
        text-align: left;
        line-height: 5rem;
        border-bottom: 2px solid #7bbd71;
        position: relative;
        padding-left: 5rem;
        &:before {
            position: absolute;
            left: 1.5rem;
            top: 0;
            bottom: 0;
            margin: auto;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            font-size: 3.5rem;
            line-height: 4.5rem;
        }
    }
}
